// Add you general and shared styles here
p {
    margin: 0;
    padding: 0;
}

.neu-16 {
    font-family: 'Neuton';
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #031116;
}

.neu-20 {
    font-family: 'Neuton';
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    color: #031116;
}

.neu-24 {
    font-family: 'Neuton';
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: #031116;
}

.neu-32 {
    font-family: 'Neuton';
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    color: #031116;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.button {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #c67606; 
    border-radius: 4px;
    background: white;
    color: #c67606;
    cursor: pointer;

    transform: scale(1);
    transition: all 150ms ease-in;

    &:hover {
        transform: scale(1.02);
    } 
}

.button--disabled {
    cursor: no-drop;
    
    &:hover {
        transform: scale(1);
    }
}

.navbar-link {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #999999;
    text-transform: capitalize;

    &:hover {
        color: #031116;
        text-decoration: none;
    }

    &--active {
        position: relative;
        color: #031116;

        &::before {
            content: '';
            height: 2px;
            width: 100%;
            bottom: -31px;
            background: #0C3A4D;
            position: absolute;
        }
    }
}

.mont-16 {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #031116;
}

.mont-20 {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #031116;
}

.mont-24 {
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #031116;
}

.mont-40 {
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    color: #031116;
}

.mont-56 {
    font-family: 'Montserrat';
    font-size: 56px;
    line-height: 72px;
    font-weight: 500;
    color: #031116;
}

.t-white {
    color: #fff;
}

.t-black {
    color: #000;
}

.t-031116 {
    color: #031116;
}

.t-999999 {
    color: #999999;
}

.bg-white {
    background-color: #fff;
}

.bg-f5f8fa {
    background-color: #F5F8FA;
}

.bg-e5e5e5 {
    background-color: rgba($color: #e5e5e5, $alpha: 0.3);
}

.bg-999999 {
    background-color: #999999;
}

.bg-dde9ef {
    background-color: #DDE9EF;
}

.bg-0c3a4d {
    background-color: #0C3A4D;
}

.bg-f89c1c {
    background-color: #F89C1C;
}

.bg-f2f2f2 {
    background-color: #f2f2f2;
}

.b-0 {
    border: none;
}

.br-5 {
    border-radius: 5px;
}

.br-50p {
    border-radius: 50%;
}

.overflow-visible {
    overflow: visible;
}

.text-align-center {
    text-align: center;
}

.lc-0 {
    div:last-child {
        margin: 0 !important;
    }

    p:last-child {
        margin: 0 !important;
    }

    a:last-child {
        margin: 0 !important;
    }
}

.h-fit {
    height: fit-content;
}

.w-fit {
    width: fit-content;
}

.w-max {
    width: max-content;
}

.vh-100 {
    height: 100vh;
}

.vw-100 {
    width: 100vw;
}

.w-100p {
    width: 100%;
}

.h-100p {
    height: 100%;
}

.w-50p {
    width: 50%;
}

.m-auto {
    margin: auto;
}

.mt-auto {
    margin-top: auto;
}

.ml-auto {
    margin-left: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mr-auto {
    margin-right: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.has-cursor {
    cursor: pointer;
}

.b-none {
    border: none;
}

@for $i from 0 through 150 {
    .m-#{$i} {
        margin: #{$i}px !important;
    }
}

@for $i from 0 through 200 {
    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }
}

@for $i from 0 through 150 {
    .ml-#{$i} {
        margin-left: #{$i}px !important;
    }
}

@for $i from 0 through 150 {
    .mr-#{$i} {
        margin-right: #{$i}px !important;
    }
}

@for $i from 0 through 150 {
    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }
}

@for $i from 0 through 150 {
    .my-#{$i} {
        margin-top: #{$i}px !important;
        margin-bottom: #{$i}px !important;
    }
}

@for $i from 0 through 150 {
    .mx-#{$i} {
        margin-left: #{$i}px !important;
        margin-right: #{$i}px !important;
    }
}

@for $i from 0 through 150 {
    .p-#{$i} {
        padding: #{$i}px !important;
    }
}

@for $i from 0 through 150 {
    .pt-#{$i} {
        padding-top: #{$i}px !important;
    }
}

@for $i from 0 through 150 {
    .pl-#{$i} {
        padding-left: #{$i}px !important;
    }
}

@for $i from 0 through 150 {
    .pr-#{$i} {
        padding-right: #{$i}px !important;
    }
}

@for $i from 0 through 150 {
    .pb-#{$i} {
        padding-bottom: #{$i}px !important;
    }
}

@for $i from 0 through 150 {
    .py-#{$i} {
        padding-top: #{$i}px !important;
        padding-bottom: #{$i}px !important;
    }
}

@for $i from 0 through 150 {
    .px-#{$i} {
        padding-left: #{$i}px !important;
        padding-right: #{$i}px !important;
    }
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

@for $i from 0 through 150 {
    .z-index-#{$i} {
        z-index: #{$i};
    }
}

@for $i from 0 through 150 {
    .l-#{$i} {
        left: #{$i}px;
    }
}

@for $i from 0 through 150 {
    .r-#{$i} {
        right: #{$i}px;
    }
}

@for $i from 0 through 150 {
    .t-#{$i} {
        top: #{$i}px;
    }
}

@for $i from 0 through 150 {
    .b-#{$i} {
        bottom: #{$i}px;
    }
}

.w-auto {
    width: auto;
}

@for $i from 1 through 1800 {
    .w-#{$i} {
        width: #{$i}px !important;
    }
}

@for $i from 1 through 1000 {
    .h-#{$i} {
        height: #{$i}px !important;
    }
}
